body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.file-upload-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.file-upload-container input[type="file"] {
  flex: none;
  width: auto;
}

.file-upload-container .file-name {
  flex: 1;
}
